body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgb(235, 235, 235);
}

/* #root {
    height: 100vh;
} */

/*

*/

/* old */

/* body {
  height: 100%;
  width: 100%;
  margin: 0;
} */
/* 
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
} */
